huge{
	font-size: 200%;
	color: red;
	position: relative;
    top: 100px;
	left: 300px;
}

header{
	font-size: 170%;
	border: 3px dotted #85ECEA;
	background-color: #8EC438;
	width: 100%;
	height: 30px;
	cursor: help;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Arial;
	text-align: center;
}

:checked{
	position: relative
	;
	left: 200px;
}

h1{
	color: green;
	text-align: center;
}
	
h2{
	color: red;
	text-align: right;
}
	
h3{
	color: yellow;
}

h4{
	color: blue;
}
